:root {
  --black: #000000;
  --white: white;

  --primary: var(--white);
  --secondary: var(--black);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

.main {
  background-color: var(--primary);

  padding-bottom: 5rem;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding-top: 2rem;
  font-size: 4rem;
  color: var(--secondary);
}

.playlistCount {
  font-size: 3rem;
  color: var(--secondary);
}

.contain {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  margin: 5rem auto;
  transition: 0.6s ease;
}

.categories {
  font-size: 1.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  border: 2px solid var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.musicLibrary {
  font-size: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
}
.playlistSongs {
  font-size: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
}

.songs {
  box-shadow: 5px 5px 10px gray, -5px -5px 10px lightgray;
  height: 30vh;
  width: 20%;
  padding: 1rem;
  margin: 5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.6s ease;
  font-size: 1.6rem;
  background-color: var(--primary);
}

.songs h2 {
  color: var(--secondary);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.songs img {
  max-width: 100%;
  max-height: 15rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.songs:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.7s ease;
  box-shadow: 5px 5px 15px var(--secondary), -5px -5px 15px var(--primary);
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  margin-top: auto;
}

.addSongSection {
  width: 90%;
  margin: 3rem auto;
  padding: 3rem;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--primary);
  box-shadow: 0 4px 8px var(--secondary);
}

.addSongSection h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary);
}

.formGroup {
  margin-bottom: 1.5rem;
  color: var(--secondary);
}

.formGroup label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--secondary);
}

.formGroup input {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formGroup select {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addBtn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  margin-top: 2rem;
  background-color: var(--secondary);
  transition: 0.3s ease;
}

.addBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
