:root {
  --cyan: #00ffff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  /* Intentions */
  --primary: var(--cyan);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--cyan);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 100%;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.contain {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  margin: 5rem auto;
  transition: 0.6s ease;
}

.categories {
  font-size: 100px;
  display: flex inline;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 25px;
}

.musicLibrary {
  font-size: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.songs {
  box-shadow: 5px 5px 10px gray, -5px -5px 10px lightgray;
  height: 50vh;
  width: 22%;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.6s ease;
}

.songs img {
  max-width: 100rem;
  max-height: 10rem;
}

.songs:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.7s ease;
  box-shadow: ;
}
